node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Variables de entorno y configuración sensible
.env
.env.local
.env.*.local

# Archivos de base de datos local SQLite
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.sqlite3

# Compilaciones nativas
android/
ios/
